<div class="login-box set-middle">
  <form #SignInForm="ngForm" (ngSubmit)="signinSubmit()" >
    <p align="center">Welcome, Please Login!</p>
    <input type="email" required class="form-control form-text-box" placeholder="Email Address" [(ngModel)]="email" name="email" >
    <input type="password" required class="form-control form-text-box" placeholder="Password" [(ngModel)]="password" name="password" >
    <button type="submit" class="btn btn-success set-middle">Sign in</button>
    <a class="link-text" routerLink="/signup">Signup </a>
  </form>
</div>