<div class="set-middle car-data-edit">
  <h2 align="center">Enter the following details</h2>
  <div class="container-fluid">
    <div class="row">
    <form #NewInsuranceFrom="ngForm" (ngSubmit)="newInsuranceSubmit()" >
      <div class="col-sm-12">
          <input type="text" name="name" class="form-control form-box" [(ngModel)]="newInsurance.name" placeholder="Insurance name">
        </div>
      <div class="col-sm-6">
        <input type="text" name="val" placeholder="Declared Value" [(ngModel)]="newInsurance.val" class="form-control form-box"> 
        <input type="text" name="prem" placeholder="Premium" [(ngModel)]="newInsurance.prem" class="form-control form-box">
        <select name="zDep" class="form-control form-box" [(ngModel)]="newInsurance.zDep">
          <option value="" disabled>--Select Zero Depreciaton--</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        <select name="claim" class="form-control form-box" [(ngModel)]="newInsurance.claim">
          <option value="" disabled>--Select Claims per year--</option>
          <option value="1">1 Time</option>
          <option value="2">2 Times</option>
          <option value="none">None</option>
        </select>
      </div>
      <div class="col-sm-6">
        <select name="own" class="form-control form-box" [(ngModel)]="newInsurance.own">
          <option value="" disabled>--Select Own Damage--</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        <select name="owner" class="form-control form-box" [(ngModel)]="newInsurance.owner">
          <option value="" disabled>--Select Owner Damage--</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        <select name="lib" class="form-control form-box" [(ngModel)]="newInsurance.lib">
          <option value="" disabled>--Select Third party liability--</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        <select name="cd" class="form-control form-box" [(ngModel)]="newInsurance.cd">
          <option value="" disabled>--Select Third party coverage damage--</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
      </div>
      <div class="col-sm-12">
        <button type="submit" class="btn btn-success">Sell Insurance</button>
      </div>
      </form>
    </div>
    <div class = "row">
    <div class = "col-sm-12">
      <h3>Insurance History</h3>
      <table class="table table-striped table-responsive">
        <tr>
          <th>Name</th>
          <th>Value</th>
          <th>Premium</th>
          <td>Action</td>
        </tr>
        <tr *ngFor="let insurance of insuranceControl">
          <td>{{insurance.name}}</td>
          <td>{{insurance.val}}</td>
          <td>{{insurance.prem}}</td>
          <td><i (click)="removeInsurance(insurance.id)" style="color:red;" class="glyphicon glyphicon-remove-circle"></i></td>
        </tr>
      </table>
    </div>
    </div>
  </div>
</div>