<div class="set-middle login-box">
  <p align="center">Welcome, Please Sign Up!</p>
  <form #SignUpForm="ngForm" (ngSubmit)="signupSubmit()">
    <input required type="text" class="form-control form-text-box" [(ngModel)]="newUser.name" name="name" placeholder="Name">
    <input required type="email" class="form-control form-text-box" [(ngModel)]="newUser.email" name="email" placeholder="E-mail">
    <input required type="text" class="form-control form-text-box" [(ngModel)]="newUser.phone" name="phone" placeholder="Phone">
    <input required type="password" class="form-control form-text-box" [(ngModel)]="newUser.pwd" name="password" placeholder="Password">
    <input required type="password" class="form-control form-text-box" [(ngModel)]="rpwd" name="repeat-password" placeholder="Re-Enter Password">
    <p ng-if="pwd != rpwd">Password Mismatch!</p>
    <select [(ngModel)]="newUser.region" name="region" class="form-control form-text-box">
        <option value="">--Select a Region--</option>
        <option value="chennai">Chennai</option>
        <option value="madurai">Madurai</option>
        <option value="mumbai">Mumbai</option>
        <option value="delhi">Delhi</option>
        <option value="kolkata">Kolkata</option>
      </select>
    <button type="submit" class="btn btn-success">Sign Up</button>
    <a routerLink="/signin" class="link-text">Sign In </a>
  </form>
</div>