<div class="user-note">
    <div class="dropdown">
        <button class="dropbtn">Welcome {{user.name}}</button>
        <div class="dropdown-content">
            <a style="cursor:pointer;" routerLink="/signin">Sign Out</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<div *ngIf="compareService.compareCars.length > 0" class="comparer">
    <div style="display:inline-block; background:#dddddd;margin: 0 5px; padding:2px; cursor:pointer;" (click)="removeCar(car)"
        *ngFor="let car of compareService.compareCars">
        {{car.name}}
        <i class="glyphicon glyphicon-remove-circle" style="color:red;"></i>
    </div>
    <button class="btn btn-default" style="float:right;" (click)="goCompare()">Compare</button>
</div>